<html>
<head>
    <style>
        * {
            font-family: sans-serif;
        }
        body {
            padding: 20px;
        }
        table {
            border-collapse: collapse;
            text-align: center;
        }
        table tr {
            border-bottom: 1px solid
        }
        table th, table td {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<img src='../Template/HtmlTemplates/ReportLogo.png'>
<h1>Virtual Server Report</h1>

{{ my_table }}



</body>
</html>